<div class="jumbotron jumbotron-fluid">
  <img class="Myimg" src="/assets/trainIcon.png" width="200" height="200" />
  <div class="card" class="myClock">
    <h2>{{ time | date: 'hh:mm:ss a' }}</h2>
  </div>
  <div class="d-inline" class="container">
    <h1 class="display-4">RailTell</h1>
    <p class="lead">Real time train information for local train stations!</p>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input (click)="toggleCarlow()" type="radio" name="options" id="option1" autocomplete="off"> Carlow Station
      </label>
      <label class="btn btn-secondary">
        <input (click)="togglePortlaoise()" type="radio" name="options" id="option2" autocomplete="off"> Portlaoise Station
      </label>
      <label class="btn btn-secondary">
        <input (click)="toggleAthy()" type="radio" name="options" id="option3" autocomplete="off"> Athy Station
      </label>
    </div>
  </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Due In</th>
      <th scope="col">Origin</th>
      <th scope="col">Destination</th>
      <th scope="col">Expected Departure Time from Station</th>
      <th scope="col">Arrival Time at destination</th>
      <th scope="col">Last Location</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of xmlItems">
      <td>{{item.dueIn}} minutes</td>
      <td>{{item.origin}}</td>
      <td>{{item.dest}}</td>
      <td>{{item.expectedDeparture}}</td>
      <td>{{item.arrival}}</td>
      <td>{{item.lastLoc}}</td>

    </tr>
  </tbody>
</table>